%header.header
  .header__text

%wrapper

  .chat-side
    .side-header
      %p.side-header__user-name 
        = current_user.name
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.user-menu__new-group
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            %p.group__group-name 
              = group.name
            %p.group__latest-message
              = group.show_last_message

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          = @group.name
        %ul.current-group__member-list
          Member：
          %li.current-group__member-list--member
            - @group.group_users.each do |group_user|
              = group_user.user.name
      = link_to edit_group_path(@group.id) do
        .main-header__edit-btn Edit

    .messages{"data-groups-id": @group.id}
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
